body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url('poolparty.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  position:absolute;
}

.danceFloor {
  max-height: 100%;
}

.bouncey {
  left:50%;
  bottom:0;
  margin-top:-25px;
  margin-left:-25px;
  height: 300px;
  width: 300px;
  -webkit-animation:bouncey 1s infinite;
}

@-webkit-keyframes bouncey {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     {bottom:0;}
}
